.header-content {
    min-height: 75vh;
    background: linear-gradient(rgba(126, 96, 58, 0.3), rgba(87, 66, 36, 0.5)), url("../../Images/bg3.jpeg") center/cover no-repeat;
    flex-direction: column;
    color: rgb(238, 224, 204);
    height: 100vh;
}

.header-title {
    font-size: 4.2rem;
}

.header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}